* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1 {
    color:orangered;
    text-align: center;
}

body {
    height:100%;
    background-color: black;
    
}

.memory-game {
    width: 640px;
    height: 640px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    perspective: 1000px;

}

.memory-card {
    width: 20%;
    height:30%;
    margin:5px;
    position:relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition:3000ms;
}

.memory-card:active {
    transform:scale(.97);
    transition:2000ms;
}
.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    width:100%;
    height:100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: orangered;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    
}

.back-face {
    width:100%;
    height:100%;
    padding: 20px;
    position:absolute;
    border-radius: 5px;
    background-color: purple;
    backface-visibility: hidden;
}